# Functions

In [1]:
# let's define our first function

def add_one(number):
    
    #add one to the number
    number_plus_one = number + 1
    
    #return result
    return number_plus_one

In [2]:
add_one(5)

6

In [10]:
def add_one_str(number):
    
    # add one to the number
    number_plus_one = number + 1
    
    #print results. it will always print and won't assign to variables
    print(number_plus_one)

In [8]:
add_one_str(5)

6

In [14]:
x = add_one(5)

In [15]:
y = add_one_str(5)

6

In [16]:
print(x, y)

6 None

In [17]:
#Functions return more than 1 output
def add_one_return_both(num1):
    # add one to num1
    num2 = num1 + 1
    return num1, num2

In [18]:
add_one_return_both(6)

(6, 7)

In [19]:
a, b  = add_one_return_both(5)

In [20]:
print(a,b)

5 6

In [21]:
# fucntions with default values

def num_pow(num,exponent = 3):
    return num**exponent

In [22]:
num_pow(2)

8

In [23]:
num_pow(5,2)

25

In [26]:
# postional arguments vs keyword arguments:
def subtract(num1,num2):
    return num1 - num2

In [27]:
# use positional arguments
subtract(5,2)

3

In [28]:
subtract(2,5)

-3

In [30]:
substract(num2 = 2, num1 = 5)

3

In [31]:
substract(num2 = 2, num1 = 5) == subtract(5,2)

True

In [35]:
# Function can take a variable number of arguments, keyword arguments
def add_all_numbers(*numbers):
    print(type(numbers))
    
    total = 0
    
    for number in numbers:
        total += number
    return total

In [37]:
add_all_numbers(3,5,6,10)

<class 'tuple'>

24

In [1]:
# define a function without parameters

def msg():
    print('Hello world!')

In [2]:
msg()

Hello world!

In [5]:
# define a function and write a docstring
def cast_lastitems_to_string(list_of_objects):
    """
    Casts a list of various elements to string.
    The function that castst elements in a list to a list of strings,
    whatever their original type is.
    
    Parameters: 
    list: A list of various data types
    
    Returns:
    list: A list of strings
    """
    
    #function body
    for i in range(len(list_of_objects)):
        list_of_objects[i] = str(list_of_objects[i])
    
    
    #return
    return list_of_objects

In [4]:
help(cast_lastitems_to_string)

Help on function cast_lastitems_to_string in module __main__:

cast_lastitems_to_string(list_of_objects)
    Casts a list of various elements to string.
    The function that castst elements in a list to a list of strings,
    whatever their original type is.

    Parameters:
    list: A list of various data types

    Returns:
    list: A list of strings

In [9]:
# using the function

cast_lastitems_to_string([[1,'b',3],5,['5',5]])

["[1, 'b', 3]", '5', "['5', 5]"]

### Lambda function
$\lambda$ functions are anonymous that can be useful. They use the `lambda` keyword

In [10]:
# for comparison let's define the function that returns the square of a number

def square(num):
    """
    returns the square of a nubmer.
    
    Parameters:
    int num: number
    Returns:
    int num: square of a number
    
    """
    return num**2

In [13]:
#lambda equivalent

square_lambda = lambda x: x**2

In [14]:
square(2)

4

In [15]:
square_lambda(2)

4

In [22]:
#can be combined with list comprehension

ls_numbers = list(range(0,10))

In [24]:
ls_square = [x**2 for x in ls_numbers]

In [25]:
ls_square

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [27]:
# Let's use a list comprehension with lambda

In [29]:
sq_one = lambda x: x**2 + 1
[sq_one(x) for x in ls_numbers if sq_one(x)%2==0]

[2, 10, 26, 50, 82]