# Functions

In [1]:
# let's define our first function

def add_one(number):
    
    #add one to the number
    number_plus_one = number + 1
    
    #return result
    return number_plus_one

In [2]:
add_one(5)

6

In [10]:
def add_one_str(number):
    
    # add one to the number
    number_plus_one = number + 1
    
    #print results. it will always print and won't assign to variables
    print(number_plus_one)

In [8]:
add_one_str(5)

6

In [14]:
x = add_one(5)

In [15]:
y = add_one_str(5)

6

In [16]:
print(x, y)

6 None

In [17]:
#Functions return more than 1 output
def add_one_return_both(num1):
    # add one to num1
    num2 = num1 + 1
    return num1, num2

In [18]:
add_one_return_both(6)

(6, 7)

In [19]:
a, b  = add_one_return_both(5)

In [20]:
print(a,b)

5 6

In [21]:
# fucntions with default values

def num_pow(num,exponent = 3):
    return num**exponent

In [22]:
num_pow(2)

8

In [23]:
num_pow(5,2)

25

In [26]:
# postional arguments vs keyword arguments:
def subtract(num1,num2):
    return num1 - num2

In [27]:
# use positional arguments
subtract(5,2)

3

In [28]:
subtract(2,5)

-3

In [30]:
substract(num2 = 2, num1 = 5)

3

In [31]:
substract(num2 = 2, num1 = 5) == subtract(5,2)

True

In [35]:
# Function can take a variable number of arguments, keyword arguments
def add_all_numbers(*numbers):
    print(type(numbers))
    
    total = 0
    
    for number in numbers:
        total += number
    return total

In [37]:
add_all_numbers(3,5,6,10)

<class 'tuple'>

24

In [41]:
list_of_nums = [(1,2,3),(4,5,6,7,8,9),(1)]
for i in list_of_nums:
    add_all_numbers(i)

<class 'tuple'>

TypeError: unsupported operand type(s) for +=: 'int' and 'tuple'