In [13]:
import datetime
import pandas as pd

In [5]:
D = datetime.date(2022,9,1)
T = datetime.time(12,0,0) #noon
DT = datetime.datetime(2022,9,1,12,0,0)

In [6]:
print(D,'\n',T,'\n',DT)

2022-09-01
 12:00:00
 2022-09-01 12:00:00

In [12]:
# checking the type
type(T)

datetime.time

In [15]:
a = pd.Timestamp.now()

In [35]:
a.strftime('%m/%d/%Y/')

'10/02/2023/'

In [24]:
# datetime now
print(datetime.datetime.now())

2023-10-02 15:48:10.907010

In [26]:
# year now
print(datetime.datetime.now().year)

2023

In [27]:
#
print(datetime.datetime.now().hour)

15

In [36]:
# arithmetic opertaions
current_datetime = datetime.datetime.now()

In [37]:
datetime_old = datetime.datetime(1996,7,10)

In [42]:
# calucate age
print(current_datetime - datetime_old)

9945 days, 15:50:50.525309

In [43]:
# delta
dt = current_datetime - datetime_old

In [47]:
print(dt.days)

9945

In [48]:
# check out time library
import time

In [50]:
print(time.time()) # how many seconds have passed from 1970 January 1st

1696254898.093796

In [55]:
# lets check out sleep(). it sleeps for 5 seconds. it is useful for data scraping
n = 0
while n<5:
    print(time.time())
    time.sleep(5)
    n += 1

1696255117.8730552
1696255122.8743637
1696255127.8750455
1696255132.8756695
1696255137.876286

In [56]:
#pandas datetime objects
import pandas as pd

In [58]:
df = pd.DataFrame({'year': [2022,2022,2020],
                  'months':[12,11,9],
                  'day':[20,15,6],
                  'hour':[23,20,9],
                  'data':['a','b','c']})

In [59]:
df

   year  months  day  hour data
0  2022      12   20    23    a
1  2022      11   15    20    b
2  2020       9    6     9    c

In [60]:
#to datetime(). to convert the temproray information
df['date'] = pd.to_datetime(df[['year','months','day','hour']])

In [61]:
df

   year  months  day  hour data                date
0  2022      12   20    23    a 2022-12-20 23:00:00
1  2022      11   15    20    b 2022-11-15 20:00:00
2  2020       9    6     9    c 2020-09-06 09:00:00