In [1]:
import datetime
import pandas as pd

In [2]:
D = datetime.date(2022,9,1)
T = datetime.time(12,0,0) #noon
DT = datetime.datetime(2022,9,1,12,0,0)

In [3]:
print(D,'\n',T,'\n',DT)

2022-09-01
 12:00:00
 2022-09-01 12:00:00

In [4]:
# checking the type
type(T)

datetime.time

In [5]:
a = pd.Timestamp.now()
a

Timestamp('2023-10-14 16:17:00.136127')

In [6]:
a.strftime('%m/%d/%Y/')

'10/14/2023/'

In [7]:
# datetime now
print(datetime.datetime.now())

2023-10-14 16:17:00.521650

In [8]:
# year now
print(datetime.datetime.now().year)

2023

In [9]:
#
print(datetime.datetime.now().hour)

16

In [10]:
# arithmetic opertaions
current_datetime = datetime.datetime.now()

In [11]:
datetime_old = datetime.datetime(1996,7,10)

In [12]:
# calucate age
print(current_datetime - datetime_old)

9957 days, 16:17:00.548224

In [13]:
# delta
dt = current_datetime - datetime_old

In [14]:
print(dt.days)

9957

In [15]:
# check out time library
import time

In [16]:
print(time.time()) # how many seconds have passed from 1970 January 1st

1697293020.582547

In [17]:
# lets check out sleep(). it sleeps for 5 seconds. it is useful for data scraping
n = 0
while n<5:
    print(time.time())
    time.sleep(5)
    n += 1

1697293020.5968285
1697293025.5981243
1697293030.5990152
1697293035.59966
1697293040.600135

In [18]:
#pandas datetime objects
import pandas as pd

In [19]:
df = pd.DataFrame({'year': [2022,2022,2020],
                  'months':[12,11,9],
                  'day':[20,15,6],
                  'hour':[23,20,9],
                  'data':['a','b','c']})

In [20]:
df

   year  months  day  hour data
0  2022      12   20    23    a
1  2022      11   15    20    b
2  2020       9    6     9    c

In [21]:
#to datetime(). to convert the temproray information
df['date'] = pd.to_datetime(df[['year','months','day','hour']])

In [22]:
df

   year  months  day  hour data                date
0  2022      12   20    23    a 2022-12-20 23:00:00
1  2022      11   15    20    b 2022-11-15 20:00:00
2  2020       9    6     9    c 2020-09-06 09:00:00